* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

# Ignore shadcn code from language statistics since it only contains copy pasted code.
resources/js/components/ui/* linguist-vendored